.github/**
.vscode/**
src/**
test/**
coverage/**
node_modules/**
tmp/**
temp/**
*.log
*.tgz
*.tsbuildinfo
examples/*.warm.html

!dist/**
!docs/**
!examples/**
!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE
!README.md
!mdalchemy.config.example.json
!package.json
